<html lang="hu">
<head>
  <title>COVID és a gazdaság viszonya</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="js/bootstrap.min.js"></script>
</head>
<body>



<div class="container">
  <div class="jumbotron bg-fej text-center" style="background-image: url('../../assets/img/covid.jpg');">
    <h1>COVID</h1>
    <h3>Külkereskedelmi folyamatok 2020. január–május</h3>
  </div>
  <br>

  <div class="row">
    <div class="col-md-12 bg-torzs">
      <h2>Az ön által választott rágióba található régiók adatai.</h2>
      <br>
      <h3>Világkereskedelem</h3>
      <p><a>A világkereskedelem jelentős mértékben visszaesett</a> <br>
        „…2020 I. negyedévében a globális gazdasági folyamatok középpontjában a koronavírus okozta járvánnyal kapcsolatos intézkedések álltak. A járvány kiindulópontjának számító Kínában megtört a több évtizede tartó konjunktúra, és 2020 I. negyedévében 6,8%-kal csökkent a gazdaság teljesítménye. A világgazdaság legjelentősebb szereplőjének számító Egyesült Államokban 0,3%-ra lassult a növekedés üteme. A szűkebb környezetünket jelentő Európai Unióban (EU27) 2,6 %-kal csökkent a gazdaság teljesítménye.”</p>

      <p><img src="./assets/img/vilag.png" class="img-thumbnail" alt="grafikon" title="grafikon"/></p>
      <a>Forrás: CPB Netherlands Bureau for Economic Policy analysis, World Trade Monitor. </a>
    </div>
  </div>

  <div class="table-responsive">
    <div class="row">
      <div class="col-3"></div>
      <div class="col-6">
        <table class="table table-primary">
          <thead>
          <tr>
            <th scope="col">Régió neve</th>
            <th scope="col">Dátum</th>
            <th scope="col">Százalékpont</th>
          </tr>
          </thead>
          <tbody>
          <tr class="">
            <td scope="col-4">Nyugat-Európa</td>
            <td>2021-01-31</td>
            <td>-1 %</td>
          </tr>
          <tr class="">
            <td scope="col-4">Nyugat-Európa</td>
            <td>2021-01-01</td>
            <td>12.6 %</td>
          </tr>
          <tr class="">
            <td scope="col-4">Nyugat-Európa</td>
            <td>2021-01-01</td>
            <td>1.5%</td>
          </tr>
          <tr class="">
            <td scope="col-4">Nyugat-Európa</td>
            <td>2021-01-01</td>
            <td>2 %</td>
          </tr>

          </tbody>
        </table>
        <div class="col-3"></div>
      </div>
    </div>
  </div>


</div>

</body>
</html>
